<ul>
    <li><a href="~/Default.cshtml" runat="server">Home</a></li>
    <li>
        <a href="~/Admin/default.cshtml" runat="server">Admin</a>
        <ol class="round">
            <li class="one"><a href="~/Admin/ManageSuppliers.cshtml" runat="server">Suppliers</a></li>
            <li class="two"><a href="~/Admin/ManageCategories.cshtml" runat="server">Categories</a></li>
            <li class="three"><a href="~/Admin/ManageProducts.cshtml" runat="server">Products</a></li>
            <li class="four"><a href="~/Admin/AddEditRegion.cshtml" runat="server">Regions</a></li>
            <li class="five"><a href="~/Admin/AddEditTerritory.cshtml" runat="server">Territories</a></li>
        </ol>
    </li>
    <li><a href="~/Admin/SearchProductByCategory.cshtml" runat="server">Search by Category</a></li>
    <li><a href="~/Admin/SearchProductByProductName.cshtml" runat="server">Search by Product Name</a></li>
    <li><a href="~/NavigationWithData/Default.cshtml" runat="server">Navigation Demo</a></li>
</ul>