@{
    Page.Title = "Sandbox - A Place to Play";
    Layout = "~/_Layout.cshtml";
}
@section pagefooter {
    <p>This is a place to put all sorts of test Razor code.</p>
    <p>A web page that sends information to a web server needs to have all of its user input controls inside of a &lt;form&gt; tag. A form tag can send the information back as either a GET or POST request to the web server.</p>
}