<connectionStrings>
  <add name="DefaultConnection"
       connectionString="Data Source=(LocalDb)\MSSQLLocalDB;AttachDbFilename=|DataDirectory|\aspnet-WebApp-20180316092740.mdf;Initial Catalog=aspnet-WebApp-20180316092740;Integrated Security=True"
       providerName="System.Data.SqlClient" />
  <add name="NW"
       connectionString="Data Source=.;Initial Catalog=Northwind_CPSC1517;Integrated Security=true;"
       providerName="System.Data.SqlClient" />
</connectionStrings>
