@{
    Page.Title = "Add/Edit Territory";
    Layout = "~/_Layout.cshtml";
}

@section pageHeader {
    <h1>@Page.Title</h1>
}




@section aside {
    <section class="featured">
        <div class="content-wrapper">
            <hgroup class="title">
                <h1>@Page.Title.</h1>
            </hgroup>
        </div>
    </section>
}
