/* CSS Reset */
*, *:before, *:after {
    box-sizing: inherit;
    padding: 0;
    margin: 0;
}

/* Body Layout */
body {
    display: grid;
    grid-gap: 10px;
    width: 750px;
    background-color: lightgrey;
    border: solid 1px blue;
}

body > nav {
    grid-row: 1;
}

body > header {
    grid-row: 2;
    padding: 5px;
}

body > main {
    grid-row: 3;
    padding: 5px;
}

body > footer {
    grid-row: 4;
    padding: 5px;
}

/* Navigation Menu */
body > nav a {
    color: white;
    text-decoration: none;
    font-weight: bold;
}
body > nav > ul {
    display: flex;
    list-style: none;
    background-color: darkgrey;
    font-size: 1.2em;
}
body > nav > ul > li {
    padding: 3px 8px;
    background-color: slategray;
    margin-right: 7px;
}

/* Other page styles */
body > header > h1 {
    margin-top: .25em;
    margin-bottom: .64em;
}