<!DOCTYPE html>
<html>
    <head>
        <title></title>
    </head>
<body>
    @{
        var northwindDb = WebMatrix.Data.Database.Open("NorthwindDb");
        var results = northwindDb.Query("SELECT CategoryID, CategoryName, Description, Picture, PictureMimeType FROM Categories");
        foreach (var row in results)
        {
            <div>
                <a href="~/ManageCategory.cshtml?catId=@row.CategoryID">@row.CategoryName</a>,
                @row.Description
                @if (row.Picture != null)
                {
                    string base64String = Convert.ToBase64String(row.Picture);
                    var src = string.Format("data:{0};base64,{1}", row.PictureMimeType, base64String);
                    <text>
                        <img src="@src" width="75" />
                    </text>
                }
            </div>
        }
    }
</body>

</html>
